.services-page {
  position: relative;
  padding: 0;
}
.services-container {
  padding: 80px 15px;
  .services-item {
    hr {
      width: 100%;
    }
    &:last-child {
      hr {
        display: none;
      }
    }
  }
}
