.services-page {
  position: relative;
  padding: 0;
}
.services-container {
  padding: 80px 15px;
  @media (hover: none) {
    padding: 20px 15px;
  }
  p {
    b {
      font-size: 1.25rem;
    }
  }
  .services-item {
    hr {
      width: 100%;
    }
    &:nth-child(7) {
      hr {
        display: none;
      }
    }
  }
}
