.bio {
  background-color: #ffffff20;
  border-top: 2px solid #705c5614;
  border-bottom: 2px solid #705c5614;
  .container {
    max-width: 960px !important;
    display: grid;
    padding: 90px 0;
    // grid-template-columns: 2.5fr 1fr;
    // grid-template-rows: 1fr;
    // gap: 0px 100px;
    // grid-template-areas: '. .';
    text-align: center;
    @media (hover: none) {
      padding: 45px 15px;
      text-align: left;
    }
    p {
      font-size: 1.25rem;
      padding-bottom: 0.25rem;
      color: #525252;
      b {
        font-size: 1.5rem;
        font-weight: 700;
        color: #525252;
      }
    }
    a {
      color: #525252;
      text-decoration: underline;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
