.services-page {
  .hero {
    height: 60vh;
    .header-bg {
      opacity: 0.8;
    }
    .arrow-link {
      a {
        color: #fff;
      }
    }
    .arrow-link {
      display: none;
    }
  }
}
.hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
  h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 4rem;
    letter-spacing: 0.25rem;
    margin: 0;
    text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
  }
  .header-bg {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.2;
  }
  .header-gradient {
    background: rgb(0, 0, 0);
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 60%
    );
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  nav {
    margin: auto;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: '. .';
    ul {
      margin: 0;
      padding: 10px 20px;
      text-align: right;
      &:first-child {
        text-align: left;
      }
      svg {
        font-size: 2rem;
      }
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }
    li {
      padding: 20px 30px;
      list-style: none;
      font-family: 'Lato', 'Open Sans', sans-serif;
      font-size: 1.2rem;
      letter-spacing: 0.05rem;
      font-weight: 700;
      display: inline-block;
      border-radius: 10px;
      &:last-child {
        border-right: none;
      }
    }
    @media (hover: none) {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100vw;
      height: 100vh;
      display: block;
      background: #525252;
      z-index: 2;
      -webkit-transition: 300ms ease all;
      transition: 300ms ease all;
      &.open {
        right: 0;
        -webkit-transition: 300ms ease all;
        transition: 300ms ease all;
      }
      ul {
        padding: 100px 20px 0;
        text-align: left;
        li {
          width: 100%;
          padding: 15px 10px;
          display: block;
        }
      }
      .social {
        position: absolute;
        padding: 0 20px 40px;
        bottom: 0;
        li {
          display: inline-block;
          width: auto;
        }
      }
    }
  }
  .logo {
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: block;
    @media (hover: none) {
      padding: 0 15px;
    }
    a {
      display: inline-block;
      color: #fff;
      background: #705c56;
      border: 2px solid #705c56;
      margin: 0 10px;
      padding: 10px 25px;
      font-weight: bold;
      font-size: 1.4rem;
      text-decoration: none;
      @media (hover: none) {
        margin: 10px;
      }
      &:last-child {
        background: none;
        color: #705c56;
        border: 2px solid #705c56;
      }
    }
  }
  .arrow-link {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0);
    a {
      color: #705c56;
      font-weight: 400;
      font-size: 4rem;
      text-decoration: none;
      @media (hover: none) {
        font-size: 2rem;
      }
    }
  }
  .navigation-menu {
    display: none;
    @media (hover: none) {
      display: block;
      position: absolute;
      top: 0px;
      right: 20px;
      z-index: 3;
      font-size: 3rem;
      svg {
        color: #fff;
      }
    }
  }
}
